# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv
*/.cache
*/.pytest_cache
*/__pycache__
*/.coverage
*/.ipynb_checkpoints
*/htmlcov

# due to using tox and pytest
.tox
.cache

#idea
.idea

.git
.gitconfig
.gitignore
Dockerfile
*.env